@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    text-transform: none;
}


ul {
    list-style-type: none;
    text-align: right;
    padding: 15px;
    display: inline;
}

li {
    display: inline;
    padding: 20px;
    font-size: 18px;
}

.header {
    background-image: url('./img/6333722.jpg');
    background-attachment: fixed;
}

.navbar {
    background-color: white;
}

.title {
    color: white;
    transition: 0.3s;
}

.about, .sosmed {
    background-color: dodgerblue;
}

.sosmed {
    text-align: center;
}

.project {
    background-color: white;
}

.card, .card-project {
    width: 70%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 38px;
    font-size: 24px;
    transition: 0.3s;
}

.card {
    color: white;
}

.card-project {
    color: dodgerblue;
    text-align: right;
}

.card-header {
    font-weight: bolder;
    margin-bottom: 10px;
}

.card-header-project {
    font-weight: bolder;
    margin-bottom: 10px;
}

.card-title {
    font-size: 26px;
}

.project-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project-selection {
    flex-basis: 320px;
}

.project-card, .project-card-special {
    background-color: dodgerblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    color: white;
    height: 65%;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    
}

.project-card {
    width: 80%;
    padding: 22px;
}

.project-card-special {
    width: 80%;
    padding: 18px;
}

.project-card:hover, .project-card-special:hover {
    background-color: #1462A4;
}

.content-text {
    font-size: 18px;
    font-weight: normal;
}

.pfp {
    float: left;
    height: auto;
    width: 16%;
    margin-right: 25px;
    border-radius: 100px;
}

.btn {
    padding: 15px;
    font-weight: bold;
    background: white;
    color: dodgerblue;
    font-size: 30px;
    border-radius: 30px;
    margin-right: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: lightgray;
}

.button {
    display: block;
}

.cnt {
    font-size: 30px;
    color: white;
    padding: 15px;
}

.footer {
    padding: 30px;
    text-align: center;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
}

@media screen and (max-width: 540px) {
    .project-card, .project-card-special {
        height: auto;
    }

    .pfp {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        margin-bottom: 50px;
    }
}